[submodule "framework"]
	path = framework
	url = https://github.com/vasekp/genetic.git
[submodule "quantum++"]
	path = quantum++
	url = https://github.com/vsoftco/qpp.git
[submodule "qiclib"]
	path = qiclib
	url = https://github.com/titaschanda/QIClib.git
[submodule "popl"]
	path = popl
	url = https://github.com/badaix/popl
